  <table>
<div id="<%= dom_id mate %>">

  <p>
    <strong>Name:</strong>
    <%= mate.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= mate.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= mate.email %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= mate.location %>
  </p>

  <p>
    <strong>Level of play:</strong>
    <%= mate.level_of_play %>
  </p>
</div>
</table>
